.dashboard {
    border: 2px solid white;
    /* width: 1000px; */
}

.header-dash{
    display: flex;
    justify-content: space-between;
}

.header-dash ul li a {
    color: white;
    font-size: 20px;
}

.header-dash ul {
    display: flex;
    gap: 20px;
    list-style: none;
}